.top-bar
{
    background-color: #4682b4;
    height: 20%;
    text-align: center;
    font-family: "Montserrat", "Avenir", 'Courier New', Courier, monospace;
    color: whitesmoke;
    h1,span
    {
        font-weight: normal;
        text-transform: uppercase;
        margin: auto;
    }
    span
    {
      font-size: 300%;  
    }
   
}
.nav-bar 
{
    
    background: #fffcfc;
    height: 30px;
    text-align: center;
    

    p, span
    {
        display: inline-block;
        margin: 3px 20px;
        padding: 0 auto;
        
    }
    button
    {
        height: 100%;
        border: none;
        background: none;
        color:steelblue ;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: inherit;
        outline: none;
        &:hover,:active
        {
            color: whitesmoke;
            background-color: steelblue;
            border: none;
        }
        transition: all 0.4s;
    }
    
}
#status
{
    display: inline-block;
    width: 30%;
    color:steelblue ;
}
button.selected
{
    color: whitesmoke;
    background-color: steelblue;
}

@media (max-width:518px)
{
    .top-bar
    {
        span
        {
            font-size: 200%;
        }
    }
}

@media (max-width:416px)
{
    #status
    {
        display: inline-block;
        width: 10%;
        color:steelblue ;
    }

    button
    {
        // width: 60px;
        font-size: 1rem;
    }
}

@media (max-width:325px)
{
    .nav-bar
    {
        display: flex;

    } 
} 